
@model ProfileViewModel


@{
    ViewData["Title"] = "Home Page";
}

@if(Model.User.ProfilePic != null){
<div class="profile_main_pic" style="background-image:url(https://blobtemple.blob.core.windows.net/images/@Model.User.ProfilePic)"></div>
} else{
<div class="profile_main_pic" style="background-image:url('blank.png')"></div>
}
<div class="profile_details">
    <div class="profile_details_header">Details for @Model.User.FirstName @Model.User.LastName 
        
    </div>
    <div class="rates_box">
        <div class="rates_text">Rates: @Model.User.Rate</div>
        <div class="rates_text">Schedule: @Model.User.Schedule</div>
        <div class="rates_text">Speciality: @Model.User.Subject</div>
    </div>
    <div class="button_box">
        @if(ViewBag.logged == null){
            <div>        
                <a class="button" href="Login">Post a Review!</a>
            </div>
            <div>        
                <a class="button" href="Login">Book this Tutor</a>
            </div>
        }else{
            <div>        
                <a class="button" href="/LeaveReview/@Model.User.UserId">Post a Review!</a>
            </div>
            <div>        
                <a class="button" href="">Book this Tutor</a>
            </div>
        }

    </div>
</div>

@foreach (Review review in Model.Reviews){  
<div class="review_component_container">
    <div class="review_header_container">
        <div class="review_pic_container"></div>
        <div class="review_data_container">
            <div class="reviewer_name">@review.Poster.FirstName @review.Poster.LastName</div>
            <div class="review_rating">STARS GO HERE</div>
        </div>
    </div>
    @* <div class="review_content">says: @review.ReviewText</div> *@
     </div>
}


